/* Customização da Barra de Rolagem */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #18181b; 
}

::-webkit-scrollbar-thumb {
    background: #3f3f46; 
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #2dd4bf; 
}

/* Efeito de Fade-in para quando rolar a página */
.fade-in-section {
    opacity: 0;
    transform: translateY(20px);
    visibility: hidden;
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
    will-change: opacity, visibility;
}

.fade-in-section.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
}